.body {
    background-color: #f8f9fa;
    margin: 0px;
    padding: 0px;
}

.footer-main {
    font-family: "Times New Roman", Times, serif;
    height: 100px;
    background-color: #343a40;

}

.footer-main p {
    padding-top: 10px;
    text-align: right;
    font-size: 11px;
    color: white;
}

.navLink a {
    color: black;
}

nav ul a:hover {
    width: 100%;
    background-color: #cfcfcf;
    color: black;
}

nav ul li {
    margin-left: 25px;
    margin-right: 25px;
}


