{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
    <center><h1>College & Graduate School Admission Requirements</h1></center>
    <hr>
    <h4>The following procedures shall be observed:</h4>
    <p>
    <ol><h6>NEW STUDENTS</h6>
        <li>
            Students PAYS Examination fee at the Cashier’s Office for Under Grad. only
            Students goes to the Guidance Office to take the Entrance Exam.
        </li>
        <li>
            Get a Temporary Enrolment Form from the Registrar's Office.
        </li>
        <li>
            Student proceeds to Dean Assigned for interview and checking Schedule of Classes.
        </li>
        <li>
            Student proceeds to the Accounting Office for Computation of Charges.
        </li>
        <li>
            Student goes to the Cashier’s Office & pays the required down payment.<br>
            *FINAL ENROLMENT FORM ( FEF)<br>
            *STUDENT ID NO.
        </li>
        <li>
            Student FILLS-UP the FINAL ENROLMENT FORM COMPLETELY. ( Please Print Legibly)
        </li>
        <li>
            Student proceeds to the REGISTRAR's OFFICE for submission of the following enrolment requirements.
        </li>
    </ol>

    <ol><h6>OLD/TRANSFEREE STUDENTS</h6>
        <li>
            Students update their CURRICULUM EVALUATION at the Office of the Dean/Program Head and ask for
            TEMPORARY ENROLMENT FORM (TEF).
        </li>
        <li>
            Student proceeds to Dean Assigned for interview and checking Schedule of Classes
        </li>
        <li>
            Student proceeds to the Accounting Office for Computation of Charges.
        </li>
        <li>
            Student goes to the Cashier’s Office & pays the required down payment.<br>
            *FINAL ENROLMENT FORM ( FEF)<br>
            *STUDENT ID NO.
        </li>
        <li>
            Student FILLS-UP the FINAL ENROLMENT FORM COMPLETELY. ( Please Print Legibly)
        </li>
        <li>
            Student proceeds to the Registrar’s Office for Submission of duly Accomplished FINAL ENROLMENT FORM (FEF)
            together with the TEMPORARY ENROLMENT FORM (TEF).
            Wait for the release of your STUDY LOAD...
        </li>
        <li>
            Any of the Dean/Program Head is not available during the Enrolment, Please proceed to the Registrar’s Office
        </li>
        <li>
            REMINDERS: Always bring your CURRICULUM EVALUATION EVERY ENROLMENT FOR EVALUATION…
            Thank you for Choosing ACI as the School for your Future
        </li>
    </ol>

        <hr>
        <h4>Requirements</h4>
        <br>
    <ul>
        <h6>College Freshmen</h6>
        <li>Entrance Exam Result</li>
        <li>Original Form 138</li>
        <li>Good Moral Character</li>
        <li>PSA Issued Birth Certificate</li>
        <li>PSA Issued Marriage Contract (female only)</li>
        <li>Passport Size Photo (2 pc.)</li>
        <li>Long Brown Envelop</li>
        <br>
        <h6>College Transferees/Graduate School</h6>
        <li>Permit to Study (for Graduate School only and Government Employees only)</li>
        <li>Certificate of Transfer(Honorable Dismissal)</li>
        <li>Official Transcript of Records</li>
        <li>Good Moral Character</li>
        <li>PSA Issued Birth Certificate</li>
        <li>PSA Issued Marriage Contract (female only)</li>
        <li>Passport Size Photo (2 pc.)</li>
        <li>Long Brown Envelop</li>
    </ul>
    </P>
</div>
{% endblock %}