{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
    <center><h1>Basic Education Admission Requirements</h1></center>
    <hr>
    <h4>The following procedures shall be observed:</h4>
    <p>
    <ol><h6>Senior High School</h6>
        <li>
            Pay Entrance Exam to the cashier.
        </li>
        <li>
            Proceed to the Library and look for the library in-charge to take Entrance Exam.
        </li>
        <li>
            Bring Entrance Exam results to the Senior High School in-charge of enrolment together with all the required documents.
        </li>
        <li>
            Fill out the Senior High School enrolment form.
        </li>
        <li>
            Proceed to cashier to pay for the Entrance Fee and School ID.
        </li>
        <li>
            Fill out the school id form from cashier.
        </li>
        <li>
            Present all the receipt acquired to the Senior High School in-charge.
        </li>
    </ol>
    <ol><h6>Junior High School & Elementary</h6>
        <li>
            Proceed to cashier to pay for the Entrance Fee and School ID.
        </li>
        <li>
            Fill out the school id form from cashier.
        </li>
        <li>
            Present all the receipt acquired to the Junior High School or Elementary in-charge of enrolment.
        </li>
        <li>
            Fill out the enrolment form and let it signed by the Basic Education Principal for approval.
        </li>
    </ol>

        <hr>
        <h4>Requirements</h4>
        <br>
    <ul>
        <h6>Senior High School</h6>
        <li>Entrance Exam Result</li>
        <li>Entrance Fee</li>
        <li>Original Form 138/SF9-SHS</li>
        <li>Good Moral Character</li>
        <li>PSA Issued Birth Certificate</li>
        <li>NCAE Result</li>
        <li>Passport Size Photo (1 pc.)</li>
        <li>Long Brown Envelop</li>
        <br>
        <h6>Junior High School & Elementary</h6>
        <li>Entrance Exam Result</li>
        <li>Entrance Fee</li>
        <li>Original Form 138(card)</li>
        <li>Good Moral Character</li>
        <li>PSA Issued Birth Certificate</li>
        <li>Passport Size Photo (2 pc.)</li>
        <li>1X1 Size Photo (2 pc.)</li>
        <li>Long Brown Envelop</li>
    </ul>
    </P>
</div>
{% endblock %}