{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>
            An email is sent to your email address.<br>
            It contains an instructions on what to do next after Pre-registration process.
        </p>
        <hr>
        <p class="mb-0">We glad that you chose ACI. We are looking forward to seeing you in our CAMPUS.<br> Best
            regards, God bless!</p>
    </div>
    <a class="btn btn-primary" href="{% url 'home' %}" role="button"> go back to ACI Homepage</a>

</div>
<br>
{% endblock %}
