{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <h1>Junior High School Online Pre-registration Form</h1>
    </div>
    <br>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalScrollableTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">ACI PRIVACY NOTICE</h5>
                    <!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--                    <span aria-hidden="true">&times;</span>-->
                    </button>
                </div>
                <div class="modal-body">
                    <p><b>
                        Agusan Colleges, Incorporated is duly obligated to protect all personal data the
                        institution collects and processes from the students, faculty, administrative personnel,
                        and alumni. This information is provided under the Philippine Republic Act No. 10173 or
                        commonly known as "Data Privacy Act 2012."</b>
                    </p>
                    <hr>
                    <br>

                    <p>
                        <b>Data Collection:<br><br>
                            Agusan Colleges Incorporated (ACI) collects, processes, and stores personal data.
                            These includes:<br></b>
                    <hr>
                    A. General personal information such as name, contact number, gender, address, place of birth,
                    nationality, civil status, and email address, etc.<br>
                    B. Family background including parents name, address, siblings, guardians and contact
                    numbers.<br>
                    C. Health records, physical examination results.<br>
                    D. Disciplinary records.<br>
                    E. Financial and billing information.<br>
                    F. Photographic data such as photos, videos, signatures both handwritten and digital.<br>
                    G. Student research work such as thesis and projects and<br>
                    H. Students extra-curricular activities.<br>
                    </p>
                    <p>
                    <hr>
                    <b>Use of Information:<br><br>
                        Collection of personal data is used solely for the following purposes:</b><br>
                    <hr>
                    A. Processing of enrollment and registration.<br>
                    B. Marketing and Promotion of Agusan Colleges Inc.<br>
                    C. Processing of statement of accounts.<br>
                    D. Reference for school events and activities.<br>
                    E. Evaluation of board examinations.<br>
                    F. Processing of Tertiary Education Subsidy required by CHED.<br>
                    G. Processing of scholarship programs offered by the institution.<br>
                    H. Processing of graduation requirements by the institution.<br>
                    I. Processing of request for Special Order to CHED.<br>
                    J. Documentation of students’ data.<br>
                    K. Posting of schools records in bulletin board.<br>
                    L .Posting of photos in official school activities to social media platforms such as Facebook and
                    Instagram.<br>
                    </p>
                    <p>
                    <hr>
                    <b>Limitation:</b><br>
                    <hr>
                    A. ACI is duly obligated to protect personal data and shall be disclosed only to authorized
                    regulatory authorities such as government agencies, Department of Education, and COmmission on
                    Higher Education.<br>
                    B. Private Education Assistance Committee (PEAC).<br>
                    C. Academic Linkages such as review centers and business partners who help students provide job
                    opportunities after graduation.<br>
                    </p>
                    <p>
                        <b>Safety and Security:</b><br>
                    <hr>
                    ACI is committed to protect personal data through proper administrative and security measures. Only
                    authorized
                    personel will have access to data collected.
                    </p>
                </div>
                <br>

                <div class="modal-footer">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="check">
                        <label class="form-check-label">Agree to all the ACI PRIVACY NOTICE contents</label>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="checkBtn">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <p>
        <b>Instruction</b><br>
        (1) Fill in all necessary information below.<br>
        (2) Leave it BLANK if the information is not applicable to you.<br>
        <b>Note</b>: Fields marked with (<span class="required" style="color: red;">*</span>) are required.
    </p>

    <form method="POST" action="{% url 'jhs_admission' %}"> {% csrf_token %}

        <br>
        <hr>
        <b>
            <lable>Student Classification and Preference</lable>
        </b>
        <hr>

        <div class="container">
            <div class="input-group input-group-sm mb-3" style="width: 270px;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">School Year</span>
                </div>
                {% for sy in school_year %}
                    {% if sy.sy_status == 'active' %}
                        <input type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-sm" value="{{ sy.pk }}" name="jhs_school_year" readonly
                               hidden>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-sm" value="{{ sy.school_year }} | {{ sy.semester }}" readonly>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="radio">
            {% for class in classification %}
            <div class="col-sm">
                <label><input type="radio" name="jhs_stud_classification" value="{{ class.pk }}" required>
                    {{ class.classification }}</label> &nbsp&nbsp&nbsp
            </div>
            {% endfor %}
        </div>
        <br>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"><span class="required" style="color: red;">*</span>Grade Level</label>
                        </div>
                        <select class="custom-select" name="jhs_stud_grade_level" required>
                            <option value="" selected>Choose...</option>
                            {% for gradelevel in grade_level|slice:"8:12"  %}
                            <option value="{{ gradelevel.pk }}">{{ gradelevel.grade_level }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <hr>
        <b><label>Student Personal Information</label></b>
        <hr>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="form-group">
                    <label><span class="required" style="color: red;">*</span>Last Name</label>
                    <input type="text" class="form-control" name="jhs_last_name" required>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label><span class="required" style="color: red;">*</span>First Name</label>
                    <input type="text" class="form-control" name="jhs_first_name" required>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label><span class="required" style="color: red;">*</span>Middle Name</label>
                    <input type="text" class="form-control" name="jhs_middle_name" required>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-3">
                <div class="form-group">
                    <label><span class="required" style="color: red;">*</span>Birthdate</label>
                    <input type="date" class="form-control" name="jhs_birthdate" required>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label><span class="required" style="color: red;">*</span>Birth Place</label>
                    <input type="text" class="form-control" name="jhs_birth_place" required>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="form-group">
                    <label>Religion</label>
                    <input type="text" class="form-control" name="jhs_religion">
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label><span class="required" style="color: red;">*</span>Nationality</label>
                    <input type="text" class="form-control" name="jhs_nationality" required>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="form-group">
                    <label><span class="required" style="color: red;">*</span>Gender</label>
                    <input type="text" class="form-control" name="jhs_gender" required>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="exampleFormControlSelect1"><span class="required" style="color: red;">*</span>Civil Status</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="jhs_civil_status" required>
                        <option value="" selected>Choose...</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Widowed">Widowed</option>
                        <option value="Separated">Separated</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="form-group">
                    <label><span class="required" style="color: red;">*</span>Email Address</label>
                    <input type="email" class="form-control" name="jhs_email_address" required>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label>Social Media Accounts</label>
                    <input type="text" class="form-control" name="jhs_social_media_accounts">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="form-group">
                    <label><span class="required" style="color: red;">*</span>Mobile Number</label>
                    <input type="text" class="form-control" name="jhs_mobile_number" value="+63 " required>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label>Home Landline Number</label>
                    <input type="text" class="form-control" name="jhs_landline_number" value="085 ">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label><span class="required" style="color: red;">*</span>Home Address</label>
                    <input type="text" class="form-control" name="jhs_home_address" required>
                </div>
            </div>
        </div>

        <hr>

        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Where did you hear about ACI?</h5>
                        <h6 class="card-subtitle mb-2 text-muted">(Choose One)</h6>
                        <div class="form-check">
                            {% for wer in where %}
                            <input class="form-check-input" type="radio" name="where_hear_us" value="{{ wer.pk}}">
                            <label class="form-check-label">
                                {{ wer.where}}
                            </label><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row row justify-content-center">
            <div class="col-sm-10">
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Why did you choose ACI?</h5>
                        <h6 class="card-subtitle mb-2 text-muted">(Choose One)</h6>
                        <div class="form-check">
                            {% for wy in why %}
                            <input class="form-check-input" type="radio" name="why_choose_us" value="{{ wy.pk}}">
                            <label class="form-check-label">
                                {{ wy.why}}
                            </label><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title"><span class="required" style="color: red;">*</span>Connectivity Capacity</h5>
                        <h6 class="card-subtitle mb-2 text-muted">(Choose One)</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="connectivity"
                                   value="without connectivity" required>
                            <label class="form-check-label">
                                Without Connectivity (no internet connection)
                            </label><br>
                            <input class="form-check-input" type="radio" name="connectivity"
                                   value="limited connectivity" required>
                            <label class="form-check-label">
                                With Limited Connectivity (with limited internet connection)
                            </label><br>
                            <input class="form-check-input" type="radio" name="connectivity" value="with connectivity"
                                   required>
                            <label class="form-check-label">
                                With Connectivity (with internet connection)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title"><span class="required" style="color: red;">*</span>Primary gadget use in accessing the internet at home</h5>
                        <h6 class="card-subtitle mb-2 text-muted">(Choose One)</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gadget"
                                   value="Desktop/Personal Computer" required>
                            <label class="form-check-label">
                                Desktop/Personal Computer
                            </label><br>
                            <input class="form-check-input" type="radio" name="gadget"
                                   value="Laptop" required>
                            <label class="form-check-label">
                                Laptop
                            </label><br>
                            <input class="form-check-input" type="radio" name="gadget" value="Smartphone/Mobile Phone"
                                   required>
                            <label class="form-check-label">
                                Smartphone/Mobile Phone
                            </label><br>
                            <input class="form-check-input" type="radio" name="gadget" value="Tablet"
                                   required>
                            <label class="form-check-label">
                                Tablet
                            </label><br>
                            <input class="form-check-input" type="radio" name="gadget" value="None of the Above"
                                   required>
                            <label class="form-check-label">
                                None of the Above
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary" value="select" style="width:150px;">Proceed</button>
        </div>
        <br>
        <br>
    </form>
</div>
{% endblock %}