{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Welcome to ACI Online Pre-registration</h5>
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
                </button>
            </div>
            <div class="modal-body">
                <p>
                    In light of the COVID-19 Pandemic, we, from Agusan Colleges, Inc. made this Online Pre-registration
                    to
                    adopt our registration process to the current situation.
                </p>
                <p>
                    This Online Pre-registration process will provide you slot reservation to enroll in the
                    Academic Year 2020 - 2021.
                </p>
                <p>
                    We are looking forward to seeing you in our Diverse Campus in this Academic Year.
                </p>
            </div><br>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <h2>
                ACI Online Pre-registration
            </h2>

            <form name="jump">
                <div class="form-group">
                    <!--                    <select name="menu" class="form-control" id="exampleFormControlSelect1">-->
                    <!--                        <option value="#">Select an option</option>-->
                    <!--                        <option value="{% url 'admission' %}">College</option>-->
                    <!--                        <option value="{% url 'shs_admission' %}">Senior High School</option>-->
                    <!--                        <option value="{% url 'jhs_admission' %}">Junior High School</option>-->
                    <!--                        <option value="{% url 'elementary_admission' %}">Elementary</option>-->
                    <!--                    </select><br>-->


                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <h5 class="card-title">Select the right Admission for you:</h5>
                            <h6 class="card-subtitle mb-2 text-muted">(Choose One)</h6>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="r1" name="pre_reg"
                                       value="without connectivity" required>
                                <label class="form-check-label">
                                    College & Graduate Studies Admission
                                </label><br>
                                <input class="form-check-input" type="radio" id="r2" name="pre_reg"
                                       value="limited connectivity" required>
                                <label class="form-check-label">
                                    Senior High School Admission
                                </label><br>
                                <input class="form-check-input" type="radio" id="r3" name="pre_reg"
                                       value="with connectivity" required>
                                <label class="form-check-label">
                                    Junior High School Admission
                                </label><br>
                                <input class="form-check-input" type="radio" id="r4" name="pre_reg"
                                       value="with connectivity" required>
                                <label class="form-check-label">
                                    Elementary Admission
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info" onclick="go()">Go to Pre-registration Page</button>

                    <!--                    <button type="submit" class="btn btn-info"-->
                    <!--                           onClick="location=document.jump.menu.options[document.jump.menu.selectedIndex].value;">Go to Registration</button>-->
                    <!--                    <br><br>-->

                </div>

            </form>
        </div>
        <div class="col-2"></div>
    </div>

</div>
<br>
<script>
    function go(){
    if(document.getElementById('r1').checked){location.href='{% url 'admission' %}';}
    else if(document.getElementById('r2').checked){location.href='{% url 'shs_admission' %}';}
    else if(document.getElementById('r3').checked){location.href='{% url 'jhs_admission' %}';}
    else if(document.getElementById('r4').checked){location.href='{% url 'elementary_admission' %}';}
    }

</script>
{% endblock %}