{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<div class="container">
<center><h3>Please double check if the details are correct before submitting</h3></center><br><br>
<!--    -->
    <form method="POST" action="{% url 'shs_confirm' %}"> {% csrf_token %}
        <!--        Classification-->
        <div class="row justify-content-left">
            <div class="col-sm-3">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Reference No.</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ reference_no }}" name="shs_reference_no"
                           readonly>
                </div>
            </div>
        </div>

        <div class="row justify-content-left">
                    <div class="col-sm-4">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">School Year</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ school_year }}" name="shs_school_year" hidden>
                    {% for sy in school_years %}
                        {% if sy.pk == school_year %}
                        <input type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-sm" value="{{ sy.school_year }} | {{ sy.semester }}" readonly>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Classification</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ classification }}" name="shs_stud_classification" hidden>
                    {% for class in classifications %}
                        {% if class.pk == classification %}
                        <input type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-sm" value="{{ class.classification }}" readonly>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Program</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ strand }}" name="shs_stud_strand" hidden>
                    {% for strnd in strands %}
                        {% if strnd.pk == strand %}
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-sm" value="{{ strnd.strand_title }}" readonly>
                        {% endif%}
                    {% endfor%}
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Year Level</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ grade_level }}" name="shs_stud_grade_level" hidden>
                    {% for gl in grade_levels %}
                        {% if gl.pk == grade_level %}
                        <input type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-sm" value="{{ gl.grade_level }}" readonly>
                        {% endif%}
                    {% endfor%}
                </div>
            </div>
        </div>
        <!--        Personal Info       -->
        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Last Name</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ last_name }}" name="shs_last_name" readonly>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">First Name</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ first_name }}" name="shs_first_name" readonly>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Middle Name</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ middle_name }}" name="shs_middle_name" readonly>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Birthdate</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ birthdate }}" name="shs_birthdate" readonly>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Birth Place</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ birth_place }}" name="shs_birth_place" readonly>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Religion</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ religion }}" name="shs_religion" readonly>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Nationality</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ nationality }}" name="shs_nationality" readonly>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Gender</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ gender }}" name="shs_gender" readonly>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Civil Status</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ civil_status }}" name="shs_civil_status" readonly>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Email Address</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ email_address }}" name="shs_email_address" readonly>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Social Media Accounts</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ social_media_accounts }}" name="shs_social_media_accounts" readonly>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Mobile Number</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ mobile_number }}" name="shs_mobile_number" readonly>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Home Landline Number</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ landline_number }}" name="shs_landline_number" readonly>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Home Address</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ home_address }}" name="shs_home_address" readonly>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Where did you hear about ACI?</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ where_hear_us }}" name="where_hear_us" hidden>
                    {% for wer in where %}
                        {% if wer.pk == where_hear_us %}
                        <input type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-sm" value="{{ wer.where }}" readonly>
                        {% endif%}
                    {% endfor%}
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Why did you choose ACI</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ why_choose_us }}" name="why_choose_us" hidden>
                    {% for wy in why %}
                        {% if wy.pk == why_choose_us %}
                        <input type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-sm" value="{{ wy.why }}" readonly>
                        {% endif%}
                    {% endfor%}
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Connectivity Capacity</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ connectivity }}" name="connectivity" readonly>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Primary Gadget</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="{{ gadget }}" name="gadget" readonly>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary" value="select" style="width:150px;">Submit</button>
        </div>
    </form>

</div>
<br>
<br>
{% endblock %}
