{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
<h1>Bachelor of Elementary Education</h1><hr>
    <div class="programs">
        <p>
        <ul>
            <li>
                <h6>Nature of the Field Study</h6>
                The BEEd is an undergraduate teacher education degree program designed to prepare individuals intending
                to teach in the elementary level.
            </li><br>
            <li>
                <h6>Degree/Program Goals</h6>
                The BEEd degree program aims to develop highly motivated and competent teachers specializing in the content and
                pedagogy for elementary education.
            </li><br>
            <li>
                <h6>Specific Professions/Careers/Occupation for Graduates</h6>
                Afte successful completion of all academic requirements of the degree/program, graduates of BEEd should be able to practice
                the teaching profession in the elementary education.
            </li><br>
            <li>
                <h6>Allied Fields</h6>
                The BEEd degree program draws from various allied disciplines like social sciences, science, math, technology,
                languages, and humanities to ensure that the graduates have a multi-disciplinary preparation in content and pedagogy.
            </li><br>
        </ul>
        </p>
    </div>
</div>
{% endblock %}