{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
    <h1>Bachelor of Science in Accounting Information System</h1>
    <hr>

    <div class="programs">
        <p>
        <ul>
            <li>
                This is the program that provides general accounting education to students wanting to pursue a
                professional career in Accounting Information System. Further, this is the program that complies with
                the latest competency framework for professional accountants issued by the International Federation of
                Accountants (IFAC) thru their International Education Standards. Thus, this qualifies the graduate of
                this program to take assessments leading to certifications in Accounting Information System given by
                global professional Accounting Information System organizations.
            </li>
            <br>
            <li>
                As a field of study, Accounting Information System is a profession that combines knowledge in business,
                accounting and computer systems. It involves partnering with management operations and decision-making,
                by coordinating the information technology activities, providing expertise in choosing the best software
                or designing and maintaining the overall information system, assessing the integrity of systems,
                assessing the inefficiencies of a company's system and recommending improvements to assist management in
                the formulation and implementation of an organization's strategy..
            </li>
            <br>
            <li>
                By working across functions, Accounting Information System professionals understand the links between
                operational activity, financial resource generation and consumption, and value generation and
                preservation. They perform a vital role in supporting organizational performance through an effective
                information system. .
            </li>
            <br>
            <li>
                Accounting Information System professionals are expected to: (a) apply accounting, finance and computer
                skills; (b) ensure these skills are applied in the context of the business; (c) to influence the
                decisions, actions and behaviors of others; and (d) lead the organization at different levels.
            </li>
            <br>
            <li>
                Accounting Information System professionals should pursue lifelong learning, and continuous professional
                development. They must be objective, ethical and consider the public interest. They
                should help colleagues to overcome bias by rooting organizational decision-making and implementation
                through an effective information system, and by providing empirically tested, objective solutions
                wherever possible.
            </li>
            <br>
            <li>
                Accounting Information System professionals must pay due regard to the primacy of the organization's
                customers and the range of relationships that enable a business to operate. They must also understand
                the global macro-economic environment to assess information based on its relevance to their
                organization.
            </li>
            <br>
            <li>
                A combination of accounting, financial and computer systems expertise, business understanding and
                analytical skills and appropriate business experience means that accounting information system
                professionals are practical and grounded in operational reality.
            </li>
            <br>
            <br>
            <h5>Specific Professions/Careers/Occupations for BSAIS graduates</h5>
            <hr>
            <h6>Entry-level Jobs</h6>
            <li>Junior Analyst</li>
            <li>Consulting Staff</li>
            <li>Cost Analyst</li>
            <li>Investment Analyst</li>
            <li>Accounting Information System Staff</li>
            <li>Tax Accounting Staff</li>
            <li>Financial Analyst</li>
            <li>Budget Analyst</li>
            <li>Credit Analyst</li>
            <li>Cost Accountant</li>
            <li>State Accounting Examiner</li>
            <li>NBI Agent</li>
            <li>Treasury Agent</li>
            <li>State Examiner</li>
            <li>LGU Accountant</li>
            <li>Revenue Officer</li>
            <li>Audit Examiner</li>
            <li>Budget Officer</li>
            <li>Financial Service Specialist</li>
            <li>Junior Accounting Instructor</li>
        </ul>
        </p>
    </div>

</div>
{% endblock %}