{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
<div class="row">
    <div class="col-4">
        <div class="navLink">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-beed-tab" data-toggle="pill" href="#v-pills-beed" role="tab"
               aria-controls="v-pills-beed" aria-selected="true">Bachelor of<br>Elementary Education</a>
            <a class="nav-link" id="v-pills-bsed-tab" data-toggle="pill" href="#v-pills-bsed" role="tab"
               aria-controls="v-pills-bsed" aria-selected="false">Bachelor of<br>Secondary Education</a>
            <a class="nav-link" id="v-pills-bsba-tab" data-toggle="pill" href="#v-pills-bsba" role="tab"
               aria-controls="v-pills-bsba" aria-selected="false">Bachelor of Science <br>in Business Administration</a>
            <a class="nav-link" id="v-pills-bsais-tab" data-toggle="pill" href="#v-pills-bsais" role="tab"
               aria-controls="v-pills-bsais" aria-selected="false">Bachelor of Science <br>in Accounting Information
                System</a>
            <a class="nav-link" id="v-pills-bsit-tab" data-toggle="pill" href="#v-pills-bsit" role="tab"
               aria-controls="v-pills-bsit" aria-selected="false">Bachelor of Science <br>in Information Technology</a>
        </div>
            </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-beed" role="tabpanel" aria-labelledby="v-pills-beed-tab">
                <h1>Bachelor of Elementary Education</h1>
            </div>

            <div class="tab-pane fade" id="v-pills-bsed" role="tabpanel" aria-labelledby="v-pills-bsed-tab">
                <h1>Bachelor of Secondary Education</h1>
            </div>

            <div class="tab-pane fade" id="v-pills-bsba" role="tabpanel" aria-labelledby="v-pills-bsba-tab">
                <h1>Bachelor of Science in Business Administration</h1>
            </div>

            <div class="tab-pane fade" id="v-pills-bsais" role="tabpanel" aria-labelledby="v-pills-bsais-tab">
                <h1>Bachelor of Science in Accounting Information System</h1>
            </div>

            <div class="tab-pane fade" id="v-pills-bsit" role="tabpanel" aria-labelledby="v-pills-bsit-tab">

                <h1>Bachelor of Science in Information Technology</h1>
                <hr>
                <P>
                    The BS Information Technology program includes the study of the utilization of both hardware and
                    software technologies
                    involving planning, installing, customizing, operating, managing and administering, and maintaining
                    information technology
                    infrastructure that provides computing solutions to address the needs of an organization.<br><br>
                    The program prepares graduates to address various user needs involving the selection, development,
                    application, integration, and
                    management of computing technologies within organization.<br><br>
                    The BSIT graduates are expected to become globally professionals engaged in life-long learning
                    endeavours. They are capable
                    of contributing to the country's national development goals.
                </P>
                <hr>

                <h2>Expected Jobs</h2>
                <p>
                <h5>Primary Job Roles</h5>
                - Web and Applications Developer<br>
                - Junior Database Administrator<br>
                - Systems Administrator<br>
                - Network Engineer<br>
                - Junior Information Security Administrator<br>
                - Systems Integration Personnel<br>
                - IT Audit Assistant<br>
                - Technical Support Specialist<br>
                <br>
                <h5>Secondary Job Roles</h5>
                - QA Specialist<br>
                - Systems Analyst<br>
                - Computer Programmer<br>
                </p>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}