{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
    <h1>Bachelor of Science in Information Technology</h1>
    <hr>

    <div class="programs">
        <p>
        <ul>
            <li>
                The BS Information Technology program includes the study of the utilization of both hardware and
                software technologies
                involving planning, installing, customizing, operating, managing and administering, and maintaining
                information technology
                infrastructure that provides computing solutions to address the needs of an organization.
            </li>
            <br>
            <li>
                The program prepares graduates to address various user needs involving the selection, development,
                application, integration, and
                management of computing technologies within organization.
            </li>
            <br>
            <li>
                The BSIT graduates are expected to become globally professionals engaged in life-long learning
                endeavours. They are capable
                of contributing to the country's national development goals.
            </li>
            <br><br>
            <h5>Expected Jobs</h5><hr>

            <li>Web and Applications Developer</li>
            <li>Junior Database Administrator</li>
            <li>Systems Administrator</li>
            <li>Network Engineer</li>
            <li>Junior Information Security Administrator</li>
            <li>Systems Integration Personnel</li>
            <li>IT Audit Assistant</li>
            <li>Technical Support Specialist</li>
            <li>QA Specialist</li>
            <li>Techno-preneur</li>
            <li>Systems Analyst</li>
            <li>Computer Programmer</li>
        </ul>
        </p>
    </div>
</div>
{% endblock %}