{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
<h1>Master in Business Administration</h1><hr>
    <div class="programs">
        <p>
            The Thesis program in business administration aims to develop the
            competencies of business professionals to undertake research in
            specific areas within the field of management science and practice.
            Such programs shall focus on replication, verification, validation,
            contextualization, and/or application of theoretical knowledge about
            the different aspects of the business process. It provides an
            intellectual environment in which students can develop high-level
            leadership and management skills and understand and apply new
            technologies necessary for solving business problems in both the
            national and international environments.
        </p>
        <p>
            MBA is a general broad degree program covering a wide variety of
            business issues and training students for careers in managing any area
            of business. MBA students study accounting, finance, marketing,
            statistics, management, economics, strategy, policy, leadership and
            similar courses. MBA program requires students with degrees in any
            field of specialization other than business and with a minimum of 2
            years work experience.

        </p>
        <h6>Objectives - the program aims to:</h6>
        <p>
            The Masteral degree program aims to develop business competencies
            necessary to design and implement strategies to improve overall
            organization results. These competencies are developed from a crossfunctional and general management
            perspective
            taking into consideration
            the ethical and international issues of the business environment. The
            MBA/MM program seeks to expand competencies in problem analysis and
            resolution, team management, performance management, communication
            and interpersonal skills and project management. The program strives to
            equip the students with the necessary knowledge, theoretical as well as
            practical, which can benefit them tremendously in managerial and
            administrative jobs.
        </p>
        <h6>Careers in MBA</h6>
        <P>
            The Masteral degree program provides innumerable career opportunities in
            various fields. The program enables students to perform effectively in
            various functional areas. While it is primarily designed to provide students
            with the knowledge, skills and abilities expected of an organization’s chief
            executive officer, students will be prepared to operate effectively in a
            broad range of organizational positions.
        </P>
        <p>
            Students will develop the ability to analyze problems and develop solutions
            from a broad organizational perspective rather than from a narrow
            functional point-of-view.
        </p>
        <p>
            Graduates of the Masteral degree program may occupy a broad range of
            positions including chairman & chief executive officer, president, chief
            operating officer, chief financial officer, general manager, executive vice
            president, managing director and manager in a variety of industries.
            Graduates are employed in a number of functional areas, including
            information technology, marketing, operations, human resources, project
            management, corporate accounting, financial management, systems
            planning, auditing, manufacturing, sales and strategic planning.
        </p>
    </div>
</div>
{% endblock %}