{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
<h1>Master of Arts in Education</h1><hr>
    <div class="programs">
        <p>
            Graduate education is at the apex of the educational system. In the field of education, graduate studies is
            one of the more effective means of improving the capacities of education professionals who aim to
            contribute to the continued improvement of teaching and learning in the classrooms, delivery of student
            services, and management of educational programs. Graduate education is also one of the most effective means
            of developing capacities related to doing research that will improve educational theory and practice in
            the many different aspects of the educational process.
        </p>
        <p>
        <ul><h6>Objectives - the program aims to:</h6>
            <li>
                Update and enrich teachers' content knowledge in a specific subject area or professional area;
            </li><br>
            <li>
                Enhance and expand teachers' theoretical and technical knowledge for teaching a specific subject area
                or professional area; and
            </li><br>
            <li>
                Develop the teachers' research capabilities for replicating, verifying validating, contextualizing,
                and/or applying theoretical and practical knowledge about the different aspects of the educational process.
            </li><br>
        </ul>
        </p>
    </div>
</div>
{% endblock %}