{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
<h1>Bachelor of Science in Business Administration</h1><hr>

    <div class="programs">
        <p>
        <ul>
            <li>
                Formerly known as the Bachelor of Science in Commerce. The BS in Business Administration program utilizes an integration approach
                to study the interrelationships among the different functional areas of business and examine how the effective orchestration
                of these different components of business operations can lead to organizational success. At the end of the program, students are
                expected to appreciate the economic, social, technological as well as legal environments within which all business must operate,
                and possess the basic business knowledge, skills, values and attitudes to effectively lead an organization and achieve the
                desired results.
            </li><br>
            <li>
                It is an interdisciplinary and problem-focused program comprising three integrated elements: core business and management education
                courses, business administration core and major courses. Each major consist of courses designed to develop the critical thinking
                and analytical information/communication technology skills, human relation, communication, quantitative and computer skills
                needed by the graduates to successfully serve as leaders in business organizations. The program also addresses contemporary
                organizational issues such as global competition, continuous quality improvement, good governance, and the relationship between
                organizations and various environmental forces which are key components of a global economy.
            </li><br>
            <li>
                A distinctive feature of the program is that the majority of upper-level courses include a practical project component, offering the
                opportunity to apply the problem-solving theories and concepts learned in the classroom to real situations. Extensive opportunities
                are available for students to meet business professionals and gain practical experience.
            </li><br><br>
        <h5>Careers in BSBA (major in Marketing Management)</h5><hr>
            <li>Management Trainee in Marketing</li>
            <li>Marketing Assistant</li>
            <li>Account Executive</li>
            <li>Merchandising Assistant</li>
            <li>PR/Advertising Assistant</li>
            <li>Service Crew</li>
            <li>Customer Service Agent/Representative</li>
            <li>Junior Sales Trainer</li>
            <li>Receptionist</li>
            <li>Entrepreneur</li>
            <li>Product/Brand/Assistant</li>
            <li>Order/Billing Assistant</li>
        </ul>
        </p>
    </div>

</div>
{% endblock %}