{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-sm">
        <img src="{% static '/images/marketing3.jpg' %}" width="100%">
    </div>
</div>

<div class="pre_reg_icon">
    <label>Admissions<br>Ongoing</label><br>
    <a class="btn btn-info" href="{% url 'pre_reg_landing_page' %}" role="button">Pre-register Now</a>
</div>


<section class="section_2 container">
    <div class="d-flex flex-column text-center">
        <hr>
        <center><h1>Be Part of Us, Grow with Us!</h1></center>
        <br>
            <div class="row">
            <div class="col-sm mb-2">
                <div class="card" style="width: 100%;">
                    <img src="{% static '/images/BSIT.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <a href="{% url 'program_bsit' %}" class="btn btn-primary">About the Program</a>
                    </div>
                </div>
            </div>

            <div class="col-sm mb-2">
                <div class="card" style="width: 100%;">
                    <img src="{% static '/images/BSAIS.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <a href="{% url 'program_bsais' %}" class="btn btn-primary">About the Program</a>
                    </div>
                </div>
            </div>

            <div class="col-sm mb-2">
                <div class="card" style="width: 100%;">
                    <img src="{% static '/images/BSBA.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <a href="{% url 'program_bsba' %}" class="btn btn-primary">About the Program</a>
                    </div>
                </div>
            </div>
            </div>
            <!--        </div>-->
            <!--        <div class="row">-->
            <!--            <div class="col-2"></div>-->
            <!--            <div class="col-8">-->
            <!--                <div class="row">-->
            <div class="row">
            <div class="col-sm mb-2">
                <div class="card" style="width: 100%;">
                    <img src="{% static '/images/BEEd.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <a href="{% url 'program_beed' %}" class="btn btn-primary">About the Program</a>
                    </div>
                </div>
            </div>

            <div class="col-sm mb-2">
                <div class="card" style="width: 100%;">
                    <img src="{% static '/images/BSEd.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <a href="{% url 'program_bsed' %}" class="btn btn-primary">About the Program</a>
                    </div>
                </div>
            </div>

            <div class="col-sm mb-2">
                <div class="card" style="width: 100%;">
                    <img src="{% static '/images/grad_basic.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">

<!--                        <a href="#" class="btn btn-primary">About the Program</a>-->
                    </div>
                </div>
            </div>
            </div>
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="col-2"></div>-->
        </div>
</section>
{% endblock %}