{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>

<!--<div class="row">-->
<!--    <div class="col-3">-->
<!--        <div class="navLink">-->
<!--            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">-->
<!--                <a class="nav-link active" id="v-pills-history-tab" data-toggle="pill" href="#v-pills-history"-->
<!--                   role="tab"-->
<!--                   aria-controls="v-pills-history" aria-selected="true">ACI History</a>-->
<!--                <a class="nav-link" id="v-pills-vmgo-tab" data-toggle="pill" href="#v-pills-vmgo" role="tab"-->
<!--                   aria-controls="v-pills-vmgo" aria-selected="false">ACI VMGO</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-9">-->
<!--        <div class="tab-content" id="v-pills-tabContent">-->

<!--            <div class="tab-pane fade show active" id="v-pills-history" role="tabpanel"-->
<!--                 aria-labelledby="v-pills-history-tab">-->
<!--                <center><h1>ACI History</h1></center>-->
<!--                <br>-->

<!--                <p>-->
<!--                    Late in 1950, retiring public school officials put them together and opted to get things going-->
<!--                    for a-->
<!--                    non-sectarian College. Documents, having been hurried in place, the Agusan Colleges (AC) were-->
<!--                    founded in 1951 in time for SY 1951-52.-->
<!--                </p>-->
<!--                <P>-->
<!--                    AC with its 2-storey semi-concrete structure constructed on a leased lot at San Jose corner M.-->
<!--                    Calo-->
<!--                    Sts., opened up for SY 1951-52. It started with basic and high school education, typing and-->
<!--                    stenography, dressmaking and tailoring, beauty culture, 1-year Secretarial course, Elementary-->
<!--                    Teachers Certificate, Associate in Commercial Science, and Associate in Arts. These were the-->
<!--                    same-->
<!--                    programs offered until SY 1955-56.-->
<!--                </P>-->
<!--                <p>-->
<!--                    The enrollment in all levels increased year after year. It had no fewer than 400 students for SY-->
<!--                    1955-56. This trend inspired the Administration to come up with 4-year courses. These were:-->
<!--                    Bachelor-->
<!--                    of Science in Commerce (BSC); Bachelor of Science in Education (BSE); Bachelor of Science in-->
<!--                    Elementary Education (BSEED); and Bachelor of Arts (AB). These courses sparked a new high in-->
<!--                    enrollment of no less than 600 for SY 1956-57.-->
<!--                </p>-->
<!--                <p>-->
<!--                    Nonetheless, during SY 1957-58, the Administration could not sink its roots deeper due to-->
<!--                    interventions from influential stockholders. Faced with strong resistance from the former, the-->
<!--                    latter opted to close AC and released the same for sale.-->
<!--                </p>-->
<!--                <p>-->
<!--                    Mr. Federico C. Chanjueco, who was then the dean of Commerce of Urios College (UC), also in-->
<!--                    Butuan-->
<!--                    City, acquired AC. He reopened it for SY 1959-60 with a new name: Agusan College of Commerce and-->
<!--                    Technology (ACCT) to shake off its misfortune. But by reason of documentation problem, he-->
<!--                    decided to-->
<!--                    retain its original AC identity for SY 1960-61.-->
<!--                </p>-->
<!--                <p>-->
<!--                    In SY 1959-60, AC was reopened. It had only 236 enrollees. In an effort to hike its population,-->
<!--                    Mr.-->
<!--                    Chanjueco, the president and director, facilitated the opening of new courses. These were:-->
<!--                    Associate-->
<!--                    in Mechanical Engineering (AME); Associate in Secretarial Sciences (ASS); and Electronic-->
<!--                    Technology-->
<!--                    (ET), Radio Repair and Practical Electricity were included as vocational subjects in the high-->
<!--                    school. True to expectation, the enrollment soared up to a little less than 700 in SY 1961-62.-->
<!--                </p>-->
<!--                <p>-->
<!--                    Inspired by the uptrend in student population, the Administration, starting SY 1962-63, added-->
<!--                    more-->
<!--                    programs, such as: Master of Arts in Education (MAED) and Master of Science in Business-->
<!--                    Administration (MSBA). Three (3) years thereafter (SY 1965-66), courses were offered: Bachelor-->
<!--                    of-->
<!--                    Laws (LLB); Bachelor of Science in Criminology (BS Crim); and Bachelor of Science in Accountancy-->
<!--                    (BSA). With the end in view of complementing these programs, the Administration employed new-->
<!--                    faculty, who were second to none in their fields of discipline, from Butuan City and elsewhere.-->
<!--                </p>-->
<!--                <p>-->
<!--                    The shining glory of AC with respect to student population was during SY 1968-69. The enrollment-->
<!--                    for-->
<!--                    the 1st semester scaled over the 5,000 mark. The Administration, to accommodate them, leased six-->
<!--                    (6)-->
<!--                    commercial buildings within the hub of the city. However, by a stroke of bad luck during the 2nd-->
<!--                    semester of that School year, a big fire razed down the city’s business center, reducing to-->
<!--                    ground-->
<!--                    zero the school’s original structure and sparing none of its leased buildings.-->
<!--                </p>-->
<!--                <p>-->
<!--                    In an attempt to salvage the situation, the Administration took no time to rent eight (8)-->
<!--                    commercial-->
<!--                    buildings at separate locations. Subsequently, AC acquired some of them, such as: Spandonis-->
<!--                    Bldg.-->
<!--                    (now the HS Bldg.); Macasero Bldg. (now Administration Building); and Patanao Bldg. Later, it-->
<!--                    added:-->
<!--                    the Ordona compound (College Building), the Marcos Calo lot (1,000 sqm.); six (6) has Lot at-->
<!--                    KM.3,-->
<!--                    Brgy. Libertad (Elem. Dept.); Busa Bldg.(FCC Residence); and the 16-has. Land at Brgy. Bancasi-->
<!--                    (Venue of off-campus activities).-->
<!--                </p>-->
<!--                <p>-->
<!--                    In spite of the efforts of the Administration with Sir. Chanjueco at the helm, a Summa Cum Laude-->
<!--                    BSC-->
<!--                    graduate from FEU, the enrollment for SY 1969-70 decreased by 40% from that of SY 1968-69. When-->
<!--                    Martial Law was declared in 1972, the enrollment further dwindled to no more than 2,000.-->
<!--                </p>-->
<!--                <p>-->
<!--                    Prior to the opening of SY 1972-73, the Administration closed its LLB and BSCrim. Much earlier,-->
<!--                    it-->
<!--                    shut down its voc- tech courses, including this of a 2-year Mechanical Engineering course.-->
<!--                    Correspondingly, it reduced its faculty to what was essential.-->
<!--                </p>-->
<!--                <p>-->
<!--                    Since then, the enrollment continued to decline. It was theorized by Sir. Chanjueco, a CPA Board-->
<!--                    topnotcher, that one of the reasons for it was the school’s inferior physical plant aside from-->
<!--                    being-->
<!--                    scattered at different locations.-->
<!--                </p>-->
<!--                <p>-->
<!--                    Agusan Colleges, to even the field, constructed a 3-storey concrete structure during SY-->
<!--                    1999-2000 at-->
<!--                    its Ariola Compound was inaugurated in time for its Golden Anniversary on February 14, 2001. On-->
<!--                    February 14, 2001, AC celebrated its Golden Year Anniversary.-->
<!--                </p>-->
<!--                <p>-->
<!--                    On August 27, 2001, AC Founder and President Federico Cueto Chanjueco Jr. passed away.-->
<!--                </p>-->
<!--                <p>-->
<!--                    Shortly after the elder Chanjueco was laid to rest, the School’s set-up was reengineered. Dr.-->
<!--                    Hercules R. Chanjueco, Ed.D, CPA, +EE were installed by the stockholders-children as president.-->
<!--                    Later, he was elected chairman of the new board of directors. (BoD).-->
<!--                </p>-->
<!--                <p>-->
<!--                    The newly constituted BoD mandated the reorganization of the management hierarchy. The top-->
<!--                    management, which used to be composed of President-director and assistant director, was changed-->
<!--                    to-->
<!--                    president, executive vice president (EVP) and three(3) vice president (VP) for administrative,-->
<!--                    academic and student affairs.-->
<!--                </p>-->
<!--                <p>-->
<!--                    The new president, Dr. Hercules R. Chanjueco, appointed Ms. Thucydides Chanjueco-Sadiasa EVP;-->
<!--                    Capt.-->
<!--                    Hannibal R. Chanjueco, VP for Administrative affairs; Mr. Hamilcar R. Chanjueco, VP for Academic-->
<!--                    Affairs; and Mr. Ediseo H. Tidalgo, Vp for Student Affairs. These appointments were subsequently-->
<!--                    confirmed by the BoD.-->
<!--                </p>-->
<!--                <p>-->
<!--                    With the green light from the BoD, the president introduced improvements to the Administration-->
<!--                    Bldg.-->
<!--                    in 2002. Late in 2003, he managed to acquire a lot consisting of 1,000 sqm. intended for the-->
<!--                    elementary and high school structures. This site is just the immediate south of the-->
<!--                    Administration-->
<!--                    Bldg. and stone throw from the new College Bldg.-->
<!--                </p>-->
<!--                <p>-->
<!--                    During SY 2003-2004, the total student population was 1,859 in all levels. This figure was-->
<!--                    broken-->
<!--                    down into: Graduate, 100; Tertiary, 1,472; HS 205; and Elem, 82. This number does not include-->
<!--                    those-->
<!--                    from special courses. On the other hand, the faculty count (part-time and full-time), was 74.-->
<!--                    When-->
<!--                    apportioned by level: Graduate, 9; Tertiary, 50; Secondary and Elementary at 8 each.-->
<!--                </p>-->
<!--                <p>-->
<!--                    As of SY 2004-2005, AC offers the following programs: MAEd, MSBA, BSC, BEEd, BSEd, and Bachelor-->
<!--                    of-->
<!--                    Science in Math (BSM), 2-Year computer Secretarial Course (CSC), Complete Elementary and-->
<!--                    Secondary-->
<!--                    Education. It also offers TESDA-regulated courses, such as: 1 yr. Data Encoder; 2-yr. Office-->
<!--                    Administration; and 2-yr. Computer Technician. More so, it offered special course: Microsoft-->
<!--                    Word,-->
<!--                    Microsoft Excel, Microsoft Publisher, and Database Management.-->
<!--                </p>-->
<!--                <p>-->
<!--                    November 2008, the ground breaking was done for the 1st floor of the new building that will-->
<!--                    house-->
<!--                    the Bachelor of Science in Hotel and Restaurant Management (BSHRM).-->
<!--                </p>-->
<!--                <p>-->
<!--                    June 4, 2010, CHED permitted AC to open Bachelor of Science of Information Technology (BSIT)-->
<!--                </p>-->
<!--                <p>-->
<!--                    May 25, 2010, CHED issued Government Recognition for AC to operate Bachelor of Science Public-->
<!--                    Administration (BSPA).-->
<!--                </p>-->
<!--                <p>-->
<!--                    May 25, 2011, CHED issued Government Recognition for AC to conduct and operate Bachelor of-->
<!--                    Science-->
<!--                    in Accounting Technology (BSAT).-->
<!--                </p>-->
<!--                <p>-->
<!--                    Year 2012, the ground breaking was done for the new 2 storey building for the Bachelor of-->
<!--                    Science in-->
<!--                    Hotel and Restaurant Management (BSHRM).-->
<!--                </p>-->
<!--                <p>-->
<!--                    Year 2012, AC joined the 1st Butuan Dragon Boat Competition, AC team bagged in that competition.-->
<!--                </p>-->
<!--                <p>-->
<!--                    September 19, 2013, CHED issued Government Recognition for AC to conduct and operate the-->
<!--                    Bachelor of-->
<!--                    Science in Hotel and Restaurant Management (BSHRM).-->
<!--                </p>-->
<!--                <p>-->
<!--                    September 26, 2013, CHED issued Government Recognition for AC to operate the Bachelor of Science-->
<!--                    in-->
<!--                    Information Technology (BSIT).-->
<!--                </p>-->
<!--                <p>-->
<!--                    April 16, 2014, the Department of Education (DepEd) issued Government Recognition for AC to-->
<!--                    operate-->
<!--                    the Kindergarten.-->
<!--                </p>-->
<!--                <p>-->
<!--                    September 28, 2015, DepEd issued Government Recognition for AC to operate the Senior High School-->
<!--                    for-->
<!--                    Accountancy, Business and Management (ABM), Humanities and Social Sciences (HUMSS) and General-->
<!--                    Academic Strand (GAS).-->
<!--                </p>-->
<!--            </div>-->

<!--            <div class="tab-pane fade" id="v-pills-vmgo" role="tabpanel" aria-labelledby="v-pills-vmgo-tab">-->
<!--                <center><h1>ACI Vision, Mission, and Goals</h1></center>-->
<!--                <br>-->

<!--                <h3>VISION</h3>-->
<!--                <p>-->
<!--                    A leading academic institution offering quality affordable education producing graduates-->
<!--                    who will become contributing and responsive members of the global community.-->
<!--                </p>-->

<!--                <h3>MISSION</h3>-->
<!--                <p>-->
<!--                    To provide a high quality, comprehensive, and meaningful education for all students-->
<!--                    so that they become productive citizens empowered with knowledge and skills and untainted-->
<!--                    personal attributes.-->
<!--                </p>-->

<!--                <h3>GOALS</h3>-->
<!--                <p>-->
<!--                    As envisioned by the Founderm ACI's goals are based not only on a liberal learning education-->
<!--                    which encourages the molding and growth of productive professionals but also on the provision-->
<!--                    of opportunities:-->
<!--                <ol>-->
<!--                    <li>To enable students to acquire a body of knowledge in a specific discipline.</li>-->
<!--                    <li>To think critically</li>-->
<!--                    <li>To enhance student abilities to make significant contributions to to the-->
<!--                        communities where they live.-->
<!--                    </li>-->
<!--                    <li>To provide the pathway for students to continue the pursuit of life-long learning.</li>-->
<!--                </ol>-->
<!--                </p>-->

<!--                <h3>OBJECTIVES</h3>-->
<!--                <p>-->
<!--                <ol>-->
<!--                    <li>To offer demand-driven curricular programs attuned to the current-->
<!--                        societal preferences;-->
<!--                    </li>-->
<!--                    <li>To deliver quality IT-based instruction through strong responsive developmental-->
<!--                        programs; and modern, upgraded physical and laboratory facilities;-->
<!--                    </li>-->
<!--                    <li>To enhance equity and access for the poor but deserving students through expanded-->
<!--                        scholarship programs, grants-in-aids student assistantship and other "predicate"-->
<!--                        opportunities; and-->
<!--                    </li>-->
<!--                    <li>To promote relevant and quality extension programs to heighten impact-->
<!--                        through unified environmental community involvement.-->
<!--                    </li>-->
<!--                </ol>-->
<!--                </p>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-about-list" data-toggle="list"
                   href="#list-about" role="tab" aria-controls="about">About ACI</a>
                <a class="list-group-item list-group-item-action" id="list-history-list" data-toggle="list"
                   href="#list-history" role="tab" aria-controls="history">ACI History</a>
                <a class="list-group-item list-group-item-action" id="list-vmgo-list" data-toggle="list"
                   href="#list-vmgo" role="tab" aria-controls="vmgo">ACI VMGO</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-about" role="tabpanel"
                     aria-labelledby="list-about-list">
                    <h1>About ACI</h1>
                    <hr>
                    <p>
                        Agusan Colleges, Inc. (ACI) is a private, non-sectarian school in Butuan City, Agusan Del Norte.
                        It started as Agusan College (AC) in 1951, founded by retiring public school officials and
                        offered basic education and technical-vocational courses. In 1955, it started to offer four-year
                        bachelor's degree courses in Commerce. Agusan College closed in 1957 and was put on sale, but
                        was bought and taken over a couple of years later, offering new technical-vocational courses to
                        attract more students and eventually, more undergraduate and graduate courses.
                    </p>
                    <p>
                        In AY 1968-1969 Agusan Colleges was the largest college in Butuan having more than 5,000
                        students. Despite this success, enrollment declined due to certain tragedies like the Butuan
                        fire in 1968 and the declaration of Martial Law several years later. Revisions in management and
                        developments in the building of school structures helped in boosting enrollment in the early
                        2000s.
                    </p>
                    <p>
                        ACI is recognized by the Commission on Higher Education (CHED) and continues to offer programs
                        from the Basic Education level to the Tertiary level. The Senior High School program offers ABM,
                        HUMSS, and GAS from the Academic Track. Undergraduate courses offered are from the fields of
                        Education, Business, and Information Technology. Also available are technical-vocational courses
                        in Computer Hardware Servicing and Office Administration accredited by TESDA.
                    </p>

                </div>
                <div class="tab-pane fade" id="list-history" role="tabpanel" aria-labelledby="list-history-list">

                    <h1>ACI History</h1>
                    <hr>

                    <p>
                        Late in 1950, retiring public school officials put them together and opted to get things going
                        for a
                        non-sectarian College. Documents, having been hurried in place, the Agusan Colleges (AC) were
                        founded in 1951 in time for SY 1951-52.
                    </p>
                    <P>
                        AC with its 2-storey semi-concrete structure constructed on a leased lot at San Jose corner M.
                        Calo
                        Sts., opened up for SY 1951-52. It started with basic and high school education, typing and
                        stenography, dressmaking and tailoring, beauty culture, 1-year Secretarial course, Elementary
                        Teachers Certificate, Associate in Commercial Science, and Associate in Arts. These were the
                        same
                        programs offered until SY 1955-56.
                    </P>
                    <p>
                        The enrollment in all levels increased year after year. It had no fewer than 400 students for SY
                        1955-56. This trend inspired the Administration to come up with 4-year courses. These were:
                        Bachelor
                        of Science in Commerce (BSC); Bachelor of Science in Education (BSE); Bachelor of Science in
                        Elementary Education (BSEED); and Bachelor of Arts (AB). These courses sparked a new high in
                        enrollment of no less than 600 for SY 1956-57.
                    </p>
                    <p>
                        Nonetheless, during SY 1957-58, the Administration could not sink its roots deeper due to
                        interventions from influential stockholders. Faced with strong resistance from the former, the
                        latter opted to close AC and released the same for sale.
                    </p>
                    <p>
                        Mr. Federico C. Chanjueco, who was then the dean of Commerce of Urios College (UC), also in
                        Butuan
                        City, acquired AC. He reopened it for SY 1959-60 with a new name: Agusan College of Commerce and
                        Technology (ACCT) to shake off its misfortune. But by reason of documentation problem, he
                        decided to
                        retain its original AC identity for SY 1960-61.
                    </p>
                    <p>
                        In SY 1959-60, AC was reopened. It had only 236 enrollees. In an effort to hike its population,
                        Mr.
                        Chanjueco, the president and director, facilitated the opening of new courses. These were:
                        Associate
                        in Mechanical Engineering (AME); Associate in Secretarial Sciences (ASS); and Electronic
                        Technology
                        (ET), Radio Repair and Practical Electricity were included as vocational subjects in the high
                        school. True to expectation, the enrollment soared up to a little less than 700 in SY 1961-62.
                    </p>
                    <p>
                        Inspired by the uptrend in student population, the Administration, starting SY 1962-63, added
                        more
                        programs, such as: Master of Arts in Education (MAED) and Master of Science in Business
                        Administration (MSBA). Three (3) years thereafter (SY 1965-66), courses were offered: Bachelor
                        of
                        Laws (LLB); Bachelor of Science in Criminology (BS Crim); and Bachelor of Science in Accountancy
                        (BSA). With the end in view of complementing these programs, the Administration employed new
                        faculty, who were second to none in their fields of discipline, from Butuan City and elsewhere.
                    </p>
                    <p>
                        The shining glory of AC with respect to student population was during SY 1968-69. The enrollment
                        for
                        the 1st semester scaled over the 5,000 mark. The Administration, to accommodate them, leased six
                        (6)
                        commercial buildings within the hub of the city. However, by a stroke of bad luck during the 2nd
                        semester of that School year, a big fire razed down the city’s business center, reducing to
                        ground
                        zero the school’s original structure and sparing none of its leased buildings.
                    </p>
                    <p>
                        In an attempt to salvage the situation, the Administration took no time to rent eight (8)
                        commercial
                        buildings at separate locations. Subsequently, AC acquired some of them, such as: Spandonis
                        Bldg.
                        (now the HS Bldg.); Macasero Bldg. (now Administration Building); and Patanao Bldg. Later, it
                        added:
                        the Ordona compound (College Building), the Marcos Calo lot (1,000 sqm.); six (6) has Lot at
                        KM.3,
                        Brgy. Libertad (Elem. Dept.); Busa Bldg.(FCC Residence); and the 16-has. Land at Brgy. Bancasi
                        (Venue of off-campus activities).
                    </p>
                    <p>
                        In spite of the efforts of the Administration with Sir. Chanjueco at the helm, a Summa Cum Laude
                        BSC
                        graduate from FEU, the enrollment for SY 1969-70 decreased by 40% from that of SY 1968-69. When
                        Martial Law was declared in 1972, the enrollment further dwindled to no more than 2,000.
                    </p>
                    <p>
                        Prior to the opening of SY 1972-73, the Administration closed its LLB and BSCrim. Much earlier,
                        it
                        shut down its voc- tech courses, including this of a 2-year Mechanical Engineering course.
                        Correspondingly, it reduced its faculty to what was essential.
                    </p>
                    <p>
                        Since then, the enrollment continued to decline. It was theorized by Sir. Chanjueco, a CPA Board
                        topnotcher, that one of the reasons for it was the school’s inferior physical plant aside from
                        being
                        scattered at different locations.
                    </p>
                    <p>
                        Agusan Colleges, to even the field, constructed a 3-storey concrete structure during SY
                        1999-2000 at
                        its Ariola Compound was inaugurated in time for its Golden Anniversary on February 14, 2001. On
                        February 14, 2001, AC celebrated its Golden Year Anniversary.
                    </p>
                    <p>
                        On August 27, 2001, AC Founder and President Federico Cueto Chanjueco Jr. passed away.
                    </p>
                    <p>
                        Shortly after the elder Chanjueco was laid to rest, the School’s set-up was reengineered. Dr.
                        Hercules R. Chanjueco, Ed.D, CPA, +EE were installed by the stockholders-children as president.
                        Later, he was elected chairman of the new board of directors. (BoD).
                    </p>
                    <p>
                        The newly constituted BoD mandated the reorganization of the management hierarchy. The top
                        management, which used to be composed of President-director and assistant director, was changed
                        to
                        president, executive vice president (EVP) and three(3) vice president (VP) for administrative,
                        academic and student affairs.
                    </p>
                    <p>
                        The new president, Dr. Hercules R. Chanjueco, appointed Ms. Thucydides Chanjueco-Sadiasa EVP;
                        Capt.
                        Hannibal R. Chanjueco, VP for Administrative affairs; Mr. Hamilcar R. Chanjueco, VP for Academic
                        Affairs; and Mr. Ediseo H. Tidalgo, Vp for Student Affairs. These appointments were subsequently
                        confirmed by the BoD.
                    </p>
                    <p>
                        With the green light from the BoD, the president introduced improvements to the Administration
                        Bldg.
                        in 2002. Late in 2003, he managed to acquire a lot consisting of 1,000 sqm. intended for the
                        elementary and high school structures. This site is just the immediate south of the
                        Administration
                        Bldg. and stone throw from the new College Bldg.
                    </p>
                    <p>
                        During SY 2003-2004, the total student population was 1,859 in all levels. This figure was
                        broken
                        down into: Graduate, 100; Tertiary, 1,472; HS 205; and Elem, 82. This number does not include
                        those
                        from special courses. On the other hand, the faculty count (part-time and full-time), was 74.
                        When
                        apportioned by level: Graduate, 9; Tertiary, 50; Secondary and Elementary at 8 each.
                    </p>
                    <p>
                        As of SY 2004-2005, AC offers the following programs: MAEd, MSBA, BSC, BEEd, BSEd, and Bachelor
                        of
                        Science in Math (BSM), 2-Year computer Secretarial Course (CSC), Complete Elementary and
                        Secondary
                        Education. It also offers TESDA-regulated courses, such as: 1 yr. Data Encoder; 2-yr. Office
                        Administration; and 2-yr. Computer Technician. More so, it offered special course: Microsoft
                        Word,
                        Microsoft Excel, Microsoft Publisher, and Database Management.
                    </p>
                    <p>
                        November 2008, the ground breaking was done for the 1st floor of the new building that will
                        house
                        the Bachelor of Science in Hotel and Restaurant Management (BSHRM).
                    </p>
                    <p>
                        June 4, 2010, CHED permitted AC to open Bachelor of Science of Information Technology (BSIT)
                    </p>
                    <p>
                        May 25, 2010, CHED issued Government Recognition for AC to operate Bachelor of Science Public
                        Administration (BSPA).
                    </p>
                    <p>
                        May 25, 2011, CHED issued Government Recognition for AC to conduct and operate Bachelor of
                        Science
                        in Accounting Technology (BSAT).
                    </p>
                    <p>
                        Year 2012, the ground breaking was done for the new 2 storey building for the Bachelor of
                        Science in
                        Hotel and Restaurant Management (BSHRM).
                    </p>
                    <p>
                        Year 2012, AC joined the 1st Butuan Dragon Boat Competition, AC team bagged in that competition.
                    </p>
                    <p>
                        September 19, 2013, CHED issued Government Recognition for AC to conduct and operate the
                        Bachelor of
                        Science in Hotel and Restaurant Management (BSHRM).
                    </p>
                    <p>
                        September 26, 2013, CHED issued Government Recognition for AC to operate the Bachelor of Science
                        in
                        Information Technology (BSIT).
                    </p>
                    <p>
                        April 16, 2014, the Department of Education (DepEd) issued Government Recognition for AC to
                        operate
                        the Kindergarten.
                    </p>
                    <p>
                        September 28, 2015, DepEd issued Government Recognition for AC to operate the Senior High School
                        for
                        Accountancy, Business and Management (ABM), Humanities and Social Sciences (HUMSS) and General
                        Academic Strand (GAS).
                    </p>

                </div>
                <div class="tab-pane fade" id="list-vmgo" role="tabpanel" aria-labelledby="list-vmgo-list">

                    <h1>ACI Vision, Mission, and Goals</h1>
                    <hr>

                    <h5>VISION</h5>
                    <p>
                        A leading academic institution offering quality affordable education producing graduates
                        who will become contributing and responsive members of the global community.
                    </p>

                    <h5>MISSION</h5>
                    <p>
                        To provide a high quality, comprehensive, and meaningful education for all students
                        so that they become productive citizens empowered with knowledge and skills and untainted
                        personal attributes.
                    </p>

                    <h5>GOALS</h5>
                    <p>
                        As envisioned by the Founderm ACI's goals are based not only on a liberal learning education
                        which encourages the molding and growth of productive professionals but also on the provision
                        of opportunities:
                    <ol>
                        <li>To enable students to acquire a body of knowledge in a specific discipline.</li>
                        <li>To think critically</li>
                        <li>To enhance student abilities to make significant contributions to to the
                            communities where they live.
                        </li>
                        <li>To provide the pathway for students to continue the pursuit of life-long learning.</li>
                    </ol>
                    </p>

                    <h5>OBJECTIVES</h5>
                    <p>
                    <ol>
                        <li>To offer demand-driven curricular programs attuned to the current
                            societal preferences;
                        </li>
                        <li>To deliver quality IT-based instruction through strong responsive developmental
                            programs; and modern, upgraded physical and laboratory facilities;
                        </li>
                        <li>To enhance equity and access for the poor but deserving students through expanded
                            scholarship programs, grants-in-aids student assistantship and other "predicate"
                            opportunities; and
                        </li>
                        <li>To promote relevant and quality extension programs to heighten impact
                            through unified environmental community involvement.
                        </li>
                    </ol>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}