{% extends 'base.html' %}
{% load static %}
{% block content %}

<center><h1>ACI Vision, Mission, and Goals</h1></center>
<br>

<h3>VISION</h3>
<p>
    A leading academic institution offering quality affordable education producing graduates
    who will become contributing and responsive members of the global community.
</p>

<h3>MISSION</h3>
<p>
    To provide a high quality, comprehensive, and meaningful education for all students
    so that they become productive citizens empowered with knowledge and skills and untainted
    personal attributes.
</p>

<h3>GOALS</h3>
<p>
    As envisioned by the Founderm ACI's goals are based not only on a liberal learning education
    which encourages the molding and growth of productive professionals but also on the provision
    of opportunities:
<ol>
    <li>To enable students to acquire a body of knowledge in a specific discipline.</li>
    <li>To think critically</li>
    <li>To enhance student abilities to make significant contributions to to the
        communities where they live.
    </li>
    <li>To provide the pathway for students to continue the pursuit of life-long learning.</li>
</ol>
</p>

<h3>OBJECTIVES</h3>
<p>
<ol>
    <li>To offer demand-driven curricular programs attuned to the current
        societal preferences;
    </li>
    <li>To deliver quality IT-based instruction through strong responsive developmental
        programs; and modern, upgraded physical and laboratory facilities;
    </li>
    <li>To enhance equity and access for the poor but deserving students through expanded
        scholarship programs, grants-in-aids student assistantship and other "predicate"
        opportunities; and
    </li>
    <li>To promote relevant and quality extension programs to heighten impact
        through unified environmental community involvement.
    </li>
</ol>
</p>

{% endblock %}